#root {
    /* Base style for App Page */
  max-width: 100%;
  text-align: center;
}

.landingpage__button_group {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 30px;
    margin: 20px 0;
}

.korp-image {
  padding-top: 150px;
}