#root {
    /* Base style for App Page */
  max-width: 100%;
  text-align: center;
}

.landingpage__button_group {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 30px;
    margin: 20px 0;
}

.korp-image {
  padding-top: 150px;
}

/* .tooltip {
  position: fixed !important; 
  opacity: 1 !important; 
  transition: none !important; 
} */

.landing-page{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.landing-content{
  flex: 1;
}

.landing-footer{
  margin-top: 5px;
}

@media (min-width: 2500px) {
  .landing-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}