.tableD{


}

.token-container {
  display: flex;
  overflow: hidden;


}


.prefix, .suffix{
  
  margin-left: 3px;
}

.special-char{
  margin-left: 0;
}
  
.token {
  white-space: nowrap; 
  word-break: keep-all; 
}

.token.match {
  font-weight: bold;
  text-align: center;
}

.resultRow {
  border-bottom: 1px solid #e0e0e0;

}

.prefix-container,
.suffix-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  width: 48%;
  max-width: 48%;

}

.suffix-container {
  justify-content: flex-start;
}

.match-container {
flex-shrink: 0;
display: flex;
justify-content: center;
align-items: center;
min-width: 4%; 
width: 4%;
}





