.menu-button {
    font-size: 24px;
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: #fd7e14;    
}

.side-menu{
    background-color: var(--navbar-color);
    color: var(--text-color);
}

.menu-button:hover {
    background-color: #d2691e;
}

.side-menu .nav-link {
    font-size: 16px;
    padding: 10px;
    color: black;
}

.side-menu-body {
    padding: 0;
}

.side-menu .nav-link:hover {
    background-color: #4164f2;
}

.first-row {
    background-color: #F89066;
}

.second-row {
    background-color: #FFCEBA;
}