.corpus_bar{
    display: flex;
    justify-content: center;
}

#dropdown-basic {
    background: transparent;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-toggle::after{
    display: none;
}

#dropdown-menu {
    background: #FDDBBB;
    border: 1px solid gray;
    color: #F5926A;
    font-size: 1.2rem;
    letter-spacing: 1.1;

    height: 400px;
    width: 300px;
    overflow-y: scroll;

    border-radius: 5px;
    text-align: left;
}

  
  