
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Define colours here for time being */

  --bg-color: #ededed;
}

body, html {
    background-color: var(--bg-color);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

[theme="dark"]{
    /* Add more colour definitions and 
    check that all .css files in the project use the variables */
    --bg-color: #3B3B3B;
    --primary-color: #F89066;
    --secondary-color: #898989;
    --tertiary-color: #FDDBBB;
    --quaternary-color: #FFCEBA;
    --quinary-color: #363333;
}

[theme="light"] {
  --bg-color: #FFFFFF;
  --primary-color: #F89066;
  --secondary-color: #EFEFEF;
  --tertiary-color: #FDDBBB;
  --quaternary-color: #FFCEBA;
}