.corpus-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #AA77FF;
    border-radius: 50px;
    padding: 8px 25px;
    min-width: 180px;
    height: 40px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    border: 1px solid gray;
}

.corpus-button-text {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin-right: 6px;
}

.corpus-button-icon {
    width: 20px;
    height: 20px;
}

.corpus-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    filter: brightness(80%);
}